<div class="ngx-ip-container" [ngClass]="containerClass">
  <div class="ngx-ip-table" [@inputAnim]="inputAnim">
    <ng-template ngFor let-idx [ngForOf]="blocksRef"; let-isLast="last">
      <div class="ngx-ip-table-cell"
           [class.ngx-ip-disabled]="isBlockDisabled(idx)"
           [ngClass]="{ 'ngx-ip-error': highlightInvalidBlocks && invalidBlocks[idx] }">
        <input #input
               type="text"
               [required]="required"
               [readonly]="readonly"
               [value]="blocks[idx] || ''"
               (change)="onChange($event.target.value, idx)"
               (blur)="onBlur(idx)"
               (focus)="onFocus(idx)"
               [disabled]="isBlockDisabled(idx)"
               (paste)="onPaste($event, idx)"
               (copy)="onCopy($event, idx)"
               (keypress)="onKeyPress($event, idx)"
               (keyup)="onKeyUp($event, idx)"/>
      </div>
      <span class="ngx-ip-table-cell ngx-ip-sep" *ngIf="!isLast">{{separator}}</span>
    </ng-template>
  </div>

  <div class="ngx-ip-copy-overlay" *ngIf="resolveCopyMethod">
    <div class="ngx-ip-table" [@copyAnim]="">
      <div class="ngx-ip-copy-title">Copy?</div>
      <a (click)="onCopyDecision('block')">Block</a>
      <a (click)="onCopyDecision('address')">Address</a>
    </div>
  </div>
</div>
