.ng2-ip-container {
  position: relative;
  margin: 5px 0;
  padding: 2px 0;
  overflow: hidden;
}

.ng2-ip-copy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ng2-ip-copy-overlay .ng2-ip-table {
  height: 100%;
}

.ng2-ip-copy-overlay .ng2-ip-table > * {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.ng2-ip-copy-title {
  text-align: center;
  vertical-align: middle;
  font-size: 0.75em;
}

.ng2-ip-copy-overlay .ng2-ip-table > a {
  border: 1px solid #9e9e9e;
  cursor: pointer;
}



.ng2-ip-table {
  display: inline-table;
  flex-flow: column;
  vertical-align: bottom;
  width: 100%;
}

.ng2-ip-table-cell {
  position: relative;
  display: table-cell;
  text-align: center;
}

.ng2-ip-table input {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

/* Default Theme */
.ng2-ip-theme-default.ng2-ip-container {
  border: 1px solid #26a69a;
}


.ng2-ip-theme-default .ng2-ip-table-cell {
  transition: all 0.3s;
}

.ng2-ip-theme-default .ng2-ip-table input {
  background: transparent;
  border: none;
  outline: none;
}

.ng2-ip-theme-default .ng2-ip-table-cell.ng2-ip-error {
  box-shadow: 0 2px 15px 0 #F44336;
}

/* Boxed Theme */
.ng2-ip-theme-boxed input {
  transition: all 0.3s;
}
.ng2-ip-theme-boxed .ng2-ip-error:not(.ng2-ip-disabled) input {
  border-color: #F44336;
}


/* MATERIAL THEME */
.ng2-ip-theme-material.ng2-ip-container {
  background-color: transparent;
  border: none;
  box-sizing: content-box;
  transition: all 0.3s;
  font-size: 1rem;
}

.ng2-ip-theme-material .ng2-ip-table-cell {
  border-bottom: 1px solid #9e9e9e;
  transition: all 0.3s;
}

.ng2-ip-theme-material.ng2-ip-focused .ng2-ip-table-cell:not(.ng2-ip-disabled) {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}


.ng2-ip-theme-material .ng2-ip-table-cell.ng2-ip-error:not(.ng2-ip-disabled) {
  box-shadow: 0 1px 0 0 #F44336;
}

.ng2-ip-theme-material .ng2-ip-table-cell.ng2-ip-disabled {
  border-bottom: 1px dotted rgba(0,0,0,0.26);
}

.ng2-ip-theme-material input {
  background: transparent;
  border: none;
  outline: none;

  height: 3rem;
  font-size: 1rem;
  padding: 0;
  box-shadow: none;
}

.ng2-ip-theme-material input[disabled] {
  color: rgba(0,0,0,0.26);
}
