<mat-dialog-content>
  <mat-toolbar color="accent">
    <div fxFlex="1 1 auto">Interactive Demo</div>
    <div>
      <button mat-icon-button style="color: white" matTooltip="Show Source Code" (click)="showCode = !showCode">
        <mat-icon aria-label="Show Source Code">code</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <br>
  <div class="code-section" *ngIf="showCode">
    <div>
      <mat-tab-group>
        <mat-tab label="HTML">
          <pre><code [innerHtml]="htmlCode"></code></pre>
        </mat-tab>
        <mat-tab label="TS">
          <pre><code [innerHtml]="tsCode"></code></pre>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <form #form="ngForm">
    <ngx-ip name="ip"
            [(ngModel)]="ip"
            [inputValidation]="inputValidation"
            [disabledBlocks]="disabledBlocks"
            [separator]="separator"
            [disabled]="disabled"
            [readonly]="readonly"
            [required]="required"
            [highlightInvalidBlocks]="highlightInvalidBlocks"
            [theme]="'ngx-ip-theme-' + theme"
            [mode]="mode"
            [copyMode]="copyMode"></ngx-ip>
  </form>
  Value: <pre>{{ip}}</pre>
  Value: <pre>{{form.form.errors}}</pre>
  Valid: {{form.form.valid}}

  <h3>Customization:</h3>
  <div>
    <label for="inputValidation">Input Validation</label>
    <mat-button-toggle-group name="inputValidation" [(ngModel)]="inputValidation" id="inputValidation">
      <mat-button-toggle value="none">None</mat-button-toggle>
      <mat-button-toggle value="char">Char</mat-button-toggle>
      <mat-button-toggle value="block">Block</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <br>
  <mat-slide-toggle #customSeparator (change)="!customSeparator.checked && separator = null">
    Custom Separator
    <input type="text" maxlength="1" minlength="1"
           [(ngModel)]="separator"
           [required]="customSeparator.checked"
           [disabled]="!customSeparator.checked" />
  </mat-slide-toggle>
  <br>
  <mat-slide-toggle [(ngModel)]="required">
    Required?
  </mat-slide-toggle>
  <br>
  <mat-slide-toggle [(ngModel)]="highlightInvalidBlocks">
    Highlight Invalid Blocks
  </mat-slide-toggle>
  <br>
  <mat-slide-toggle [(ngModel)]="readonly">
    Read only?
  </mat-slide-toggle>
  <br>
  <br>
  <div>
    <label for="disabledBlocks">Disabled blocks</label>
    <mat-button-toggle-group multiple id="disabledBlocks">
      <mat-button-toggle (change)="onDisableBlockChange($event)" value="0">Block 1</mat-button-toggle>
      <mat-button-toggle (change)="onDisableBlockChange($event)" value="1">Block 2</mat-button-toggle>
      <mat-button-toggle (change)="onDisableBlockChange($event)" value="2">Block 3</mat-button-toggle>
      <mat-button-toggle (change)="onDisableBlockChange($event)" value="3">Block 4</mat-button-toggle>
      <mat-button-toggle *ngIf="mode === 'ipv6' || mode === 'ipv4WithMask'" (change)="onDisableBlockChange($event)" value="4">Block 5</mat-button-toggle>
      <mat-button-toggle *ngIf="mode === 'ipv6'" (change)="onDisableBlockChange($event)" value="5">Block 6</mat-button-toggle>
      <mat-button-toggle *ngIf="mode === 'ipv6'" (change)="onDisableBlockChange($event)" value="6">Block 7</mat-button-toggle>
      <mat-button-toggle *ngIf="mode === 'ipv6'" (change)="onDisableBlockChange($event)" value="7">Block 8</mat-button-toggle>
      <mat-button-toggle (change)="onDisableBlockChange($event)" value="-1">Component</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <br>
  <div>
    <label for="Theme">Theme</label>
    <mat-button-toggle-group name="theme" [(ngModel)]="theme" id="Theme">
      <mat-button-toggle value="default">Default</mat-button-toggle>
      <mat-button-toggle value="boxed">Boxed</mat-button-toggle>
      <mat-button-toggle value="material">Material</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <br>
  <div>
    <label for="mode">Mode</label>
    <mat-radio-group name="mode" id="mode" [(ngModel)]="mode">
      <mat-radio-button value="ipv4">IPV4</mat-radio-button>
      <mat-radio-button value="ipv4WithMask">IPV4 W/Mask</mat-radio-button>
      <mat-radio-button value="ipv6">IPV6</mat-radio-button>
      <mat-radio-button value="mac">MAC</mat-radio-button>
    </mat-radio-group>
  </div>
  <br>
  <div>
    <label for="copyMode">Copy Mode</label>
    <mat-button-toggle-group name="copyMode" [(ngModel)]="copyMode" id="copyMode">
      <mat-button-toggle value="block">Block</mat-button-toggle>
      <mat-button-toggle value="address">Address</mat-button-toggle>
      <mat-button-toggle value="select">User defined</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</mat-dialog-content>
